// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#link_lap {
		
		width: 120px;
		background-color: #FFAE00;
		border: 2px solid black;
		border-radius: 2px 2px 2px;

		text-align: center;
		margin: auto;

	}

	#link_lap a {
		text-decoration: none;
		color: blue;
		font-weight: bold;

	}

	#link_lap a:hover {
		text-decoration: none;
		color: yellow;
		font-weight: bold;
	}