<h1>Welcome e-Commerce!</h1>
<h3>Hope you will like our products!</h3>


<div id="link_container">
	<div id="link_lap">
		<%= link_to 'Go see our laptops!', laptops_path %>
	</div>

	<div id="link_bp">
		<%= link_to 'Go see our backpacks!', backpacks_path %>
	</div>
</div>