// Place all the styles related to the laptops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
		background:url('white.png');
		background-repeat: no-repeat;
	}

.title {
		background-color: #FFAE00;
	}

	.parameter {
		background-color: #FFCC73;
	}

	table, p, h1,h2,h3,h4,h5,h6 {
		margin: auto;
		padding: auto;
		text-align: center;
	}

	h1,h2,h3,h4,h5,h6 {
		color: #FF8400;
		text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	}

	table td {
		padding: 0.5em;
	}

	#container {
		width: 35%;
		margin: auto;
		padding: 1.5em;
		outline: 2px solid black;
		background-color: #FCEF95;
	}

	#tindex {
		text-align: center;
		font-weight: bold;
	}

	#tindex td {
		padding: 0.5em;
	}

	#tindex a {
		text-decoration: none;
		color: blue;

	}

	#tindex a:hover {
		color:orange;
		background-color: white;
	}

	#tshow th {
		text-align: center;
		font-weight: bold;
		padding: 0.5em;
	}

	#tshow td {
		text-align: center;
		font-style: italic;
	}

	#link_add {
		
		width: 120px;
		height: 35.8px;
		background-color: #FFAE00;
		border: 2px solid black;
		border-radius: 2px 2px 2px;

		text-align: center;

		float: left;
	}

	#link_add a {
		text-decoration: none;
		color: blue;
		font-weight: bold;

	}

	#link_add a:hover {
		text-decoration: none;
		color: yellow;
		font-weight: bold;
	}

		#links_index {

		width: 120px;
		background-color: #FFAE00;
		border: 2px solid black;
		border-radius: 2px 2px 2px;

		text-align: center;
		float: left;

		margin-left: 0.5em;
	}

	#links_index a {
		text-decoration: none;
		color: blue;
		font-weight: bold;

	}

	#links_index a:hover {
		text-decoration: none;
		color: yellow;
		font-weight: bold;
	}

	#link_container {
		margin: auto;
		padding: 0.5em;

		height: 5%;
		width: 20%;

	}